.product {
    border: 1px solid gray;
    border-radius: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: rgba(41, 41, 41, 0.492);
}

.images {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin-top: 10px;
}

.button {
    border: none;
    background-color: rgba(45, 154, 154, 0.609);
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}